---
import { Icon } from "astro-icon";

const links = [
    {
        icon: "fa:envelope",
        label: "zekeabshire@gmail.com",
        href: "mailto:zekeabshire@gmail.com",
    },
    {
        icon: "fa:github",
        label: "github.com/zyrrus",
        href: "https://github.com/zyrrus/",
    },
    {
        icon: "fa:linkedin-square",
        label: "linkedin.com/in/zyrrus",
        href: "https://www.linkedin.com/in/zyrrus/",
    },
];

type BaseRoute = {
    name: string;
    route: string;
};

type Route = BaseRoute & {
    subroutes?: BaseRoute[];
};

const routes: Route[] = [
    { name: "Home", route: "/" },
    {
        name: "About",
        route: "/about",
        subroutes: [
            { name: "Skills", route: "/about#skills" },
            { name: "Education", route: "/about#education" },
            { name: "Certifications", route: "/about#certifications" },
            { name: "Awards", route: "/about#awards" },
            { name: "Hobbies", route: "/about#hobbies" },
        ],
    },
    {
        name: "Projects",
        route: "/projects",
        subroutes: [
            { name: "Complete", route: "/projects#complete" },
            { name: "Active", route: "/projects#active" },
        ],
    },
    { name: "Work", route: "/work" },
];
---

<div class="flex flex-col gap-y-12 py-16 md:gap-y-6">
    <div class="h-[2px] w-full rounded-full bg-fg"></div>
    <div
        class="items-left mx-4 flex flex-col items-start gap-8 xs:mx-10 xs:items-center md:flex-row md:items-start md:justify-between"
    >
        {/* Left Side */}
        <div class="flex flex-col gap-y-3">
            <div class="flex w-full flex-row items-center gap-x-3">
                <img
                    src="/assets/rainbow-ring.png"
                    alt="Circle gradient logo"
                    class="aspect-square w-14 animate-[spin_3s_linear_infinite]"
                />
                <h3 class="justify-self-start text-2xl font-semibold">
                    Zeke Abshire
                </h3>
            </div>

            {
                links.map(({ label, icon, href }) => (
                    <a
                        href={href}
                        class="flex w-full flex-row items-center gap-x-3 text-mix transition-colors hover:text-fg"
                    >
                        <Icon name={icon} class="w-6" />
                        {label}
                    </a>
                ))
            }
        </div>

        {/* Right Side */}
        <div class="flex flex-col gap-y-6 gap-x-8 text-mix xs:flex-row">
            {
                routes.map((route) => (
                    <div class="flex grow flex-col gap-y-2">
                        <a
                            href={route.route}
                            class="font-semibold transition-colors hover:text-fg"
                        >
                            {route.name}
                        </a>
                        {route.subroutes?.map((subroute, j) => (
                            <a
                                class="text-sm font-light transition-colors hover:text-fg"
                                href={subroute.route}
                            >
                                {subroute.name}
                            </a>
                        ))}
                    </div>
                ))
            }
        </div>
    </div>
</div>
